*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
}

.container{
    background-color: #ff0;
    height: 100vh;
    padding: 1rem;
}

.lista-tarefas{
    background-color: #fff;
    height: 100%;
    border-radius: .5rem;
    padding: 1rem;
}