@import url(components/forms.css);
@import url(components/todo-list.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container{
    height: 100vh;
    background-color: #ff0;
    padding: 1rem;
}

.todo-list{
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
}

.list-header{
    color: #11175E;
    font-size: 1.5rem;
}