.secao-criar-tarefa{
    width: 100%;
}

.form-criar-tarefa{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0rem;
    font-family: "Rubik", sans-serif;
}

.todo-input-btn{
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    border: none;
    border-color: #eeeeee;
    border-radius: .5rem;
}

.todo-input-btn:last-child{
    width: auto;
    background-color: #2D70FD;
    color: #fff;
}

@media (min-width: 1024px){
    .form-criar-tarefa{
        flex-direction: row;
    }
}