@import url(components/forms.css);
@import url(components/todo-list.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
}

button{
    cursor: pointer;
}

.container{
    background-color: #F5F9FF;
    min-height: 100vh;
    padding: 1rem;  
}

.container-todo-list{
    background-color: #fff;
    height: 100%;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.cabecalho-lista{
    font-size: 1.5rem;
    color: #11175E;
    font-family: "Rubik", sans-serif;
}

.rodape-tarefas{
    text-align: end;
    color: #B1BACB;
}


@media (min-width: 1024px){
    .container{
        padding: 5rem 20rem;
    }
}